<div class="tracker-container">
    <h1>📍 Navify</h1>

    <div class="tracker-card">
        <p class="status">{{'status' | translate}}: <span class="status-text">{{currentTrackingStateString |
                translate}}</span></p>
        <p>{{'speed' | translate }}: <span class="coord" #speed>-</span></p>
        <p>{{'maxSpeed' | translate }}: <span class="coord" #maxSpeed>-</span></p>
        <p>{{'averageSpeed' | translate }}: <span class="coord" #averageSpeed>-</span></p>
        <p>{{'distanceCovered' | translate }}: <span class="coord" #distanceCovered>-</span></p>
    </div>

    <div class="button-group">
        <button
            *ngIf="currentTrackingState === TrackingState.NotTracking || currentTrackingState === TrackingState.Finished"
            (click)="startJourney()">
            {{'startJourney' | translate}}
        </button>
        <button *ngIf="currentTrackingState === TrackingState.Tracking" (click)="endJourney()">
            {{'endJourney' | translate}}
        </button>
    </div>

    <div class="map-selector">
        <label for="mapType">{{'mapType' | translate }}: </label>
        <select id="mapType" (change)="onMapTypeChange($event)">
            <option value="street">{{ 'street' | translate }}</option>
            <option value="satellite">{{ 'satellite' | translate }}</option>
            <option value="dark">{{ 'dark' | translate }}</option>
            <option value="terrain">{{ 'terrain' | translate }}</option>
            <option value="outdoors">{{ 'outdoors' | translate }}</option>
            <option value="light">{{ 'light' | translate }}</option>
            <option value="satelliteStreets">{{ 'satelliteStreets' | translate }}</option>
            <option value="navigationDay">{{ 'navigationDay' | translate }}</option>
            <option value="navigationNight">{{ 'navigationNight' | translate }}</option>
        </select>
    </div>

    <div class="map-container" id="map"></div>
</div>