<nav class="navbar">
    <div class="navbar-logo">
        <img routerLink="/home"
            src="https://cdn4.iconfinder.com/data/icons/map-and-navigation-cute-style-vol-4/52/tracker__gps__location__navigation__pin__point__graph-512.png"
            alt="My App Logo" />
    </div>
    <ul class="navbar-links">
        <li><a routerLink="/home">{{'home' | translate}}</a></li>
        <li><a routerLink="/location-tracker">{{'track' | translate}}</a></li>
    </ul>
    <div class="navbar-actions">
        <div class="selector">
            <label for="mapType">{{ 'language' | translate }}: </label>
            <select id="mapType" [(ngModel)]="selectedLanguage" (change)="onLanguageChange($event)">
                <option value="ua">Українська</option>
                <option value="en">English</option>
            </select>
        </div>
        <div class="navbar-actions">
            <button>{{'signIn' | translate}}</button>
        </div>
    </div>
</nav>